<script>
  import request from "./request";
  import Chart from "chart.js";
  import { onMount } from "svelte";
  import { writable } from "svelte/store";

  let chart, chartEl;
  let settings = {};
  let settingsLoaded = false;
  let currentTemp = 0;
  let currentState = "off";

  const chartConfig = {
    type: "line",
    data: {
      datasets: [
        {
          label: settings.convertToF ? "Temperature (F)" : "Temperature (C)",
          type: "line",
          fill: false,
          stepped: true,
          borderColor: "#FF0000FF",
          borderWidth: 1,
          pointRadius: 0,
          data: [],
          yAxisID: "temp"
        },
        {
          label: "Relative Humidity (%)",
          type: "line",
          fill: false,
          stepped: true,
          borderColor: "#0000FFFF",
          borderWidth: 1,
          pointRadius: 0,
          data: [],
          yAxisID: "humid"
        }
      ]
    },
    options: {
      animation: {
        duration: 0
      },
      elements: {
        point: {
          pointStyle: "cross"
        }
      },
      scales: {
        xAxes: [
          {
            type: "time",
            distribution: "linear",
            time: {
              unit: "minute"
            },
            ticks: {
              source: "auto",
              autoSkip: true
            }
          }
        ],
        yAxes: [
          {
            id: "temp",
            position: "right",
            scaleLabel: {
              display: true,
              labelString: settings.convertToF
                ? "Temperature (F)"
                : "Temperature (C)"
            }
          },
          {
            id: "humid",
            gridLines: {
              drawOnChartArea: false // only want the grid lines for one axis to show up
            },
            position: "left",
            scaleLabel: {
              display: true,
              labelString: "Relative Humidity (%)"
            }
          }
        ]
      }
    }
  };

  onMount(async () => {
    chart = new Chart(chartEl, chartConfig);
    settings = await request.get("/api/settings");
    settingsLoaded = true;
    refresh();
    setInterval(refresh, 5000);
  });

  async function refresh() {
    const currentData = await request.get("/api/current");
    currentTemp = currentData.current.tc;
    currentState = currentData.currentState;

    const data = await request.get("/api/history");
    // Temperature data
    chart.data.datasets[0].data = data.map(d => ({
      t: d.t,
      y: settings.convertToF ? d.tc * 1.8 + 32 : d.tc
    }));

    // Humidity data
    chart.data.datasets[1].data = data.map(d => ({
      t: d.t,
      y: d.h
    }));
    chart.update();
  }

  function cToF(temp) {
    return temp * 1.8 + 32;
  }

  function saveSettings(s) {
    request.post("/api/settings", {
      minTemp: settings.minTemp,
      maxTemp: settings.maxTemp,
      fanAlwaysOn: settings.fanAlwaysOn,
      enabled: settings.enabled,
      minSwitchFreq: settings.minSwitchFreq,
      convertToF: settings.convertToF
    });
  }

  $: if (settingsLoaded) {
    request.post("/api/settings", {
      minTemp: settings.minTemp,
      maxTemp: settings.maxTemp,
      fanAlwaysOn: settings.fanAlwaysOn,
      enabled: settings.enabled,
      minSwitchFreq: settings.minSwitchFreq,
      convertToF: settings.convertToF
    });
  }

  $: {
    settings.convertToF;
    refresh();
  }
</script>

<style>
  .settingsrow {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .settingbox {
    padding: 10px;
    display: flex;
    border: 1px solid #aaaaaa;
    flex-flow: column wrap;
  }

  .tempvalue {
    align-self: center;
    font-size: 150%;
    max-width: 4ex;
  }

  #canvasContainer {
    width: 75vw;
    min-width: 400px;
    margin: auto;
  }

  .state {
    font-size: 150%;
    align-self: center;
  }
  .state-off {
    color: grey;
  }

  .state-cool {
    color: blue;
  }

  .state-fan {
    color: green;
  }

  .state-heat {
    color: red;
  }

  .state-unknown {
    color: grey;
  }
</style>

<div>
  <div class="status" />
  <div class="settingsrow">
    <div class="settingbox">
      <div>Current</div>
      <div class="tempvalue">
        {#if settings.convertToF}
          {cToF(currentTemp).toFixed(1)}F
        {:else}{currentTemp.toFixed(1)}C{/if}
      </div>
      <div class="state state-{currentState}">{currentState}</div>
    </div>
    <div class="settingbox">
      <div>Minimum</div>
      <button
        class="adjustbtn"
        on:click={() => {
          settings.minTemp += 0.5;
        }}>
        ++
      </button>
      <input
        class="tempvalue"
        type="number"
        step="0.5"
        bind:value={settings.minTemp} />
      <button
        class="adjustbtn"
        on:click={() => {
          settings.minTemp -= 0.5;
        }}>
        --
      </button>
    </div>
    <div class="settingbox">
      <div>Maximum</div>
      <button
        class="adjustbtn"
        on:click={() => {
          settings.maxTemp += 0.5;
        }}>
        ++
      </button>
      <input
        class="tempvalue"
        type="number"
        step="0.5"
        bind:value={settings.maxTemp} />
      <button
        class="adjustbtn"
        on:click={() => {
          settings.maxTemp -= 0.5;
        }}>
        --
      </button>
    </div>
    <div class="settingbox">
      <div>
        <label>
          <input type="checkbox" bind:checked={settings.fanAlwaysOn} />
          Fan Always On
        </label>
      </div>
      <div>
        <label>
          <input type="checkbox" bind:checked={settings.enabled} />
          Enabled
        </label>
      </div>
      <div>Switch Buffer (s):</div>
      <div>
        <input
          type="number"
          id="switchTime"
          bind:value={settings.minSwitchFreq} />
      </div>
      <div>
        <label>
          <input
            type="checkbox"
            id="convertToF"
            bind:checked={settings.convertToF} />
          Fahrenheit
        </label>
      </div>
    </div>
  </div>

  <div id="canvasContainer">
    <canvas bind:this={chartEl} />
  </div>
</div>
